body { font-family: "Roboto", arial; font-weight:300;}
h1,h2,h3,h4,h5,h6 { font-family: "Roboto", arial; font-weight:700; margin:0 0 1rem;}

.grid-container { padding:0 1.5rem; }
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea { font-family:"Roboto", arial; font-weight:300; }
.button, button { font-family: "Roboto", arial; font-weight:700; }

.button.btn-more { background:transparent; color:#fff; border:none; font-weight:400; font-size:1rem; border:1px solid transparent; color:#df6e22; position:relative;}
.button.btn-more:after { position:absolute; bottom:0; left:0; right:0; height:2px; content:""; display:block; background:linear-gradient(to right, #ae2b26, #df6e22) }
.button.btn-more:hover { background:linear-gradient(36deg, #ae2b26, #df6e22); color:#fff;}
.header { background:#fff; padding:0 1.5rem; backface-visibility:hidden; box-shadow:0 0 40px 0 rgba(0,0,0,0.1); position:relative; z-index:9}
.header .logo { padding-top:1.4125rem; margin-right:2rem}
.header .logo img { width:120px; height:auto;}
.mainmenu {}
.mainmenu ul { display:flex; justify-content:flex-start; align-items:center; margin:0; padding:0;}
.mainmenu li { display:block; white-space:nowrap; text-align:center; position:relative;}
.mainmenu li+li { margin-left:2.5rem; }
.mainmenu li.user { margin-left:2rem; }
.mainmenu a { font-family: "Roboto", arial; text-transform:uppercase; font-weight:400; line-height: 80px; font-size:14px; padding:0rem; color:#333; letter-spacing:.56px;}
.mainmenu a .badge { line-height:1; min-width:1.375rem; height:1.375rem; line-height: 1.375rem; font-size:11px; padding:0; background:#ae2b26}
.mainmenu a .fa-inverse { color:#fff}
.mainmenu li.user a { display:flex; text-align:left; align-items:center; line-height:1.125rem;}
.mainmenu li.user .fa-stack { margin-right:.375rem; color:#222}
.mainmenu li.challenge a { position:relative; }
.mainmenu li.challenge a:before { display:block; content:"HOT"; position:absolute; top:-1.375rem; padding:.25rem .375rem; font-size:.5625rem; background:#ccc; line-height:1; z-index:0; border-radius:4px; background:#ae2b26; color:#fff; left:50%; width:34px; text-align:center; margin-left:-17px; z-index:1;}
.mainmenu li.challenge a:after { display:block; content:""; position:absolute; top:-.75rem; width:10px; height:10px; background:#ae2b26; left:50%; margin-left:-5px; z-index:0; transform:rotate(45deg);}

.mainmenu li:after { display:block; height:3px; position:absolute; left:0; right:0; bottom:0; margin:auto; content:""; background:linear-gradient(to right, #ccc, #eee); opacity:0; transition:opacity ease .1s;}
.mainmenu li:hover:after { opacity:1; }
.mainmenu li.active:after { background:linear-gradient(to right, #ae2b26, #df6e22); opacity:1;}

.user-panel { padding:10px 0; }
.button.btn-control { white-space:nowrap; background:none; color:#222; font-weight:400; font-size:.875rem; text-transform:uppercase; letter-spacing:.56px; padding:0 1rem; margin:0; line-height:60px; border:none;}
.button.btn-control.hover { box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.15); z-index:0}

.dropdown-pane { background:none; user-select:none; border:none; padding:0 16px 16px; overflow:hidden;}
.dropdown-pane .inner-pane { background:#fff; box-shadow: 0px 3px 16px 0 rgba(0,0,0,0.35);}

ul.language-menu { padding:0; margin:0;}
ul.language-menu li { display:block; }
ul.language-menu a { display:block; padding:1rem 1.5rem; font-size:1rem; transition:all ease .3s; color:#222;}
ul.language-menu li:hover a, ul.language-menu li:focus a { background:#efefef; }

#login-dropdown { width:340px; }
#login-dropdown .inner-pane { position:relative }
#login-dropdown .inner-pane:before { position:absolute; width:145.5px; left:0; top:0; display:block; content:""; height:2px; background:linear-gradient(to right, #ae2b26, #df6e22); }
.login-widget { padding:1.5rem;}
.login-widget h4 { font-weight:100; font-size:1.75rem; color:#ae2b26; margin:0 0 2rem; }
.input-field { position:relative; }
.input-field input { position:relative; background:none; z-index:3; border:none; padding:0; box-shadow:none; line-height:32px; height:32px; margin-top:1.5rem; font-size:1rem;}
.input-field .input-line { height:1px; background:#ccc; display:block; position: absolute; bottom:0; content:""; left:0; right:0; z-index:3; transition:all ease .3s;}
.input-field label { position:absolute; z-index:4; top:0; line-height:32px; transition:all ease .1s; font-weight:300; color:#222; font-size:1rem;}
.input-field input:hover, .input-field input:focus { box-shadow:none; border:none; }
.input-field input:focus + label, .input-field input.filled + label {  margin-top:-1.25rem; line-height:24px; font-size: 0.875rem;transition:all ease .3s; color:#8a8a8a}
.input-field input:focus ~ .input-line { background:#ae2b26; height:2px;}
.input-field input.filled ~ .input-line { opacity:0; }
.input-field input.filled:focus ~ .input-line { opacity:1; }

.login-widget .button.btn-login { width:100%; margin:.5rem 0 1rem; font-weight:300; text-transform:uppercase; letter-spacing:.56px;}
.login-widget .forgot { font-size:1rem; color:#8a8a8a; }
.login-widget .forgot:hover, .login-widget .forgot:focus { color:#ae2b26; }

.login-widget .or { margin:1rem 0; position:relative; text-align:center;}
.login-widget .or:before { height:1px; background:#ccc; display:block; content:""; position:absolute; left:0; right:0; top:50%; margin-top:-1px; }
.login-widget .or .text { display:inline-block; padding:0 1rem; background:#fff; line-height:32px; position:relative; z-index:4; font-weight:300; font-size:1.125rem; text-transform:uppercase;}

.login-with ul { margin:0; padding:0; }
.login-with li { display:block; }
.login-with .button { text-align:left; width:100%; text-align:left; letter-spacing:.56px; font-weight:300; padding:0 1rem; line-height:40px;}
.login-with .button .fa { width:32px; margin-right:.75rem; height:36px; line-height:36px; vertical-align:middle; text-align:left; font-size:1.5rem;}
.login-with .button.btn-facebook { background:#3b5998; }
.login-with .button.btn-google { background:#dd4b39; }

.searchbox { padding-top:10px; margin-right:2rem; position:relative;}
.searchbox input, .searchbox button { margin:0; height:40px; border:none;}
.searchbox input { border:none; padding:0; box-shadow:none; }
.searchbox button { border:none; background:none; color:#333;}
.searchbox button:hover, .searchbox button:focus { background:none; color:#ae2b26;}
.searchbox input:hover, .searchbox input:focus { border:none; box-shadow:none; }
.searchbox .search-line { position:absolute; bottom:0; left:0; right:0; width:100%; height:1px; content:""; display: block; background:#222;}
.searchbox input + .search-line:after { position:absolute; bottom:0; left:0; right:0; width:0; height:2px; content:""; display: block; background:linear-gradient(to right, #ae2b26, #df6a22); transition:all ease .1s; z-index:2;}
.searchbox input:focus + .search-line:after { width:100%; transition:all ease .3s;}

.ciayoslider {}
.ciayoslider img { width:100%; height:auto;}
.ciayoslider ul { margin:0; padding:0;}
.ciayoslider li { display:block;}

.recommendation { background:#f8f8f8; padding:36px 0;}
.recommendation h2 {text-transform:uppercase; letter-spacing:.5px; font-size:18px; color:#222; font-weight:400}
.recommendation h2 small { text-transform:none; font-weight:300; font-size:16px; letter-spacing:0; color:#757575; vertical-align:baseline;}
h2 small:before { display:inline-block; content:"/"; margin:0 .75rem 0 .5rem; }
.recommendation a { transition:all ease-in-out .3s; display:block; box-shadow:0px 3px 8px 0 rgba(0,0,0,0.25);transition:all ease .3s; margin-bottom:2rem;}
.recommendation a:hover, .recommendation a:focus { opacity:.66; transform:scale(1.04); transform-origin:50% 50%; opacity:1; box-shadow: 0px 3px 16px 0 rgba(0,0,0,0.5)}
.recommendation .grid-x .cell:nth-child(2) img { filter:hue-rotate(30deg) }
.recommendation .grid-x .cell:nth-child(3) img { filter:hue-rotate(90deg) }
.recommendation .grid-x .cell:nth-child(4) img { filter:hue-rotate(150deg) }
.recommendation .grid-x .cell:nth-child(5) img { filter:hue-rotate(210deg) }

.section { padding:2rem 0; }
.section h2 { text-transform:capitalize; letter-spacing:.56px; font-size:50px; font-weight:100}
.section h2 small { text-transform:none; font-weight:100; font-size:16px; letter-spacing:0; color:#222;  vertical-align:baseline;}

.section.collapse { margin-top:0rem; padding-top:0;}

.comic-grid { position:relative; margin:0 0 2rem; transition:all ease-in-out .3s; box-shadow:0px 3px 8px 0 rgba(0,0,0,0.15);transition:all ease .3s;}
.comic-grid:hover, .comic-grid:focus { transform:scale(1.04); transform-origin:50% 50%; opacity:1; box-shadow: 0px 3px 16px 0 rgba(0,0,0,0.35)}
.comic-grid img { width:120%; height:auto; width: calc(120% + 4px); margin:-2px; max-width:120%; margin-left:-10%;}
.comic-grid .c-img { margin-bottom:0; overflow:hidden;}
.comic-grid h4 { font-size:13px; margin:0; line-height: 1.4; font-weight:300; font-family: "Roboto", arial; color:#df6e22;}
.comic-grid h3 { font-size:1rem; margin:0; line-height: 1.8; font-weight:300; letter-spacing:.56px; text-align:center;}
.comic-grid a { display:block; position:absolute; left:0; top:0; right:0; bottom:0; text-indent:-99999px; opacity:.5; z-index:5;}
.comic-grid h4 { position:absolute; top:0; left:0; border-radius:0 0 4px 0; background:rgba(255,255,255,1); padding:0 .5rem; line-height:1.5rem; transition:all ease-in-out .3s; left:-8px; top:8px; background:#fff; font-size:.75rem; font-weight:400; box-shadow:0 1px 4px 0 #ccc;}
.comic-grid:hover h4, .comic-grid:focus h4 { opacity:0; }
.comic-grid h3 { line-height:40px; padding:0 1rem; margin:0; transition:all ease-in-out .3s; text-align:center; font-weight:100; font-size:1.125rem; white-space:nowrap; overflow:hidden; text-shadow:0 0 1px #222; transition:all ease .3s; background:#fff; text-overflow:ellipsis;}
.comic-grid:hover h3, .comic-grid:focus h3 { background:linear-gradient(to right, #ae2b26, #df6e22); color:#fff; text-shadow:0 0 1px #fff; font-weight:300}


.favorite.collapse { background:#ffe8e8; margin-top:-1px; position:relative; padding-top:2rem; padding-bottom:2.5rem; margin-bottom:1.5rem;}

.favorite .section-content { }
.favorite .comic-grid:before { content:""; display:block; background:linear-gradient(to right, #ae2b26, #df6e22); height:4px;}

.install { padding:1rem 0; background:#fff url(../images/bg-install.jpg) center no-repeat; background-size:cover; }
.cell-install { width:420px; height:280px; background:url(../images/mascot.png) center no-repeat; background-size:cover;}
.cell-content p { font-size:2rem; color:#222; font-weight:100; margin-top:1rem; text-shadow:0 0 1px #5b5b5b}
ul.install-app { display:flex; justify-content:flex-start; align-items:center; margin:0; padding:0; }
ul.install-app li { display:block; }
ul.install-app li+li { margin-left:1rem; }
ul.install-app li a { display:block; padding:0 1rem; font-weight:400; line-height:40px; font-size:.875rem; border:1px solid #5b5b5b; border-radius:4px; color:#5b5b5b}
ul.install-app li a .fa { margin-right:.5rem; font-size:1.25rem; }
ul.install-app li a:hover, ul.install-app li a:focus { background:linear-gradient(36deg, #5ADAFD, #51B9FD); color:#fff; transition:all ease .3s; border:1px solid transparent;}

.footer { background:#222; padding:1.5rem 0;}
.footer-menu ul { margin:0; padding:0; display:flex; justify-content:center;}
.footer-menu li { display:block; margin:0 1rem; font-size:.75rem; line-height: 48px; font-weight: 400; letter-spacing:.56px;}
.footer-menu a { color:#ddd }

.follow-us { height:48px; border-left:1px solid #8a8a8a; padding-left:1rem; }
.follow-us ul { margin:0; padding:0; display:flex;}
.follow-us li { display:block; margin:0 1rem; }
.follow-us a { color:#fff; font-size:2rem; line-height: 48px; }
.follow-us a:hover, .follow-us a:focus { color:#ae2b26; }

.copyright { font-size:.875rem; color:#ddd; font-weight:400; line-height: 48px;}
.copyright .logo-ciayo { display:inline-block; font-size:2rem; vertical-align: middle; height:48px; line-height: 48px; font-size:4rem;}
.copyright a { color:#fff; }
.copyright a:hover { color:#ae2b26; }

@media only screen and (max-width:1100px){
	.section { padding:2rem 1rem; }
}

@media only screen and (max-width:40em){
	.header .logo img { max-height:40px; }
	.header .mainmenu { display:none; }
}